<span class="local-search local-search-google local-search-plugin" style="<%- wrapStyle %>">
  <input type="search" placeholder="Search" id="local-search-input" class="local-search-input-cls" style="<%- inputStyle %>">
  <i class="icon iconfont" aria-hidden="true" title="Click to search">&#xe741;</i>
  <div id="local-search-result" class="local-search-result-cls"></div>
</span>
